
        <nav>
      <div class="navigation">
        <ul>

          <li><a href="" style="font-size:25px;">Savings</a></li>

                <div id='u' ><a href="" style="padding: 10px 0px;font-size:14px;padding-left:35px;padding-right:23px;">Update Your Information</a></div>
                <div id='u'id="uu" ><a href="" style="padding: 10px 0px;font-size:14px;padding-left:47px;padding-right:40.8px;">View Your Progress</a></div>

          <li><a href="">Life-Saving Plan</a></li>

                <div id="u" ><a href="" style="padding: 10px 0px;font-size:14px;padding-left:70px;padding-right:75.5px;">What is it </a></div>
                <div id="u"><a href="" style="padding: 10px 0px;font-size:14px;padding-left:75px;padding-right:72.5px;">Pie Chart</a></div>

            <li><a href="">Education</a></li>
            <li><a href="">Travel</a></li>
            <li><a href="">Overview</a></li>
        </ul>
      </div>
            <ul>
      <div class="nav_bg">
        <div class="nav_bar"><!-- <span></span> <span></span> <span></span> -->
	   	<span class="expand ">
			<span class="plus">

					<ul id="l">GoSavings</ul>

                <ul id="lg"></ul>
                <ul  id='b'  class="logout-button" id='button' onclick="getInfo()">Log Out</ul>
                <script>
var d = new Date();
d=d.toUTCString();
d=d.replace('GMT','');
document.getElementById("lg").innerHTML = 'Last Login: '+ d

</script>


			</span>
		 <span class="minus">

             <ul id="l">GoSavings</ul>

			</span>
		</span>

      </div>
	  </div>
            </ul>
    </nav>
