{% extends 'layout.html' %}
{% block additionalscripts %}
<link rel="stylesheet" href="static/css/register1.css">
    <link rel="stylesheet" href="static/css/navb.css">
    <script src="static/js/login.js"></script>
    <script src="static/js/nav.js"></script>

{% endblock %}
{% block body %}
    <br>
    <br>
    <br>
    <hr>
    <div class="container">
      <label><b>Full Name:</b></label>
      <input type="text" placeholder="Full Name" name="uname" id='username' required>

      <label><b>Password:</b></label>
      <input type="password" placeholder="Enter Password" name="psw" id='password' required>

      <button type="submit"  class="login-button" id='button' onclick="retrieveuserinfo()">Login</button>
        <input type="checkbox"  checked="checked" id="remember"> Remember me

    </div>
    <hr>
    <h1 id="forgotpass"> FORGET PASSWORD? </h1>
    <br>
    <div id="fpdiv">
           <h4 align="center" ><b>Security Question:</b></h4>
                    <div id="dropdown">
                        <select id="sqq">
                            <option value="nickname">What is your nickname?</option>
                            <option value="food">What is your Favourite food?</option>
                            <option value="country">Which country would you like to travel to?</option>
                            <option value="pet_name">What is the name of ur pet?</option>
                        </select>
                    </div>
                <input type="text" placeholder="Enter Your Answer" name="ans" id="secondinput" required>

    <h4 align="center"><b>Your Email:</b></h4>
           <input type="text" placeholder="Enter Email" name="email" id="secondinput" required style="margin-left:260px;">

<button type="submit" style="margin-left:420px;;" value="Submit">Submit</button>
            </div>

    <br>
    <br>
    <br>
{% endblock %}